.content{:style => "width: 500px; height: 575px; background: #ccc; border-radius: 15px; margin: auto; overflow: hidden;"}
  %h1 Count Up!
  
  .timer{:style => "text-align: center; background: #111; margin: 20px; border-radius: 5px; color: white; font-family: monospace; font-size: 1.5em;"}
    .num.hours 0
    \:
    .num.minutes 0
    \:
    .num.seconds 0
    \:
    .num.milli 0
  %br
  
  .startstop.button Start
  .lap.button.disabled Lap
  .reset.button Reset
  
  %ul.laps
  %br



:javascript
  var counting = false;
  var time = 0; // time in ms
  
  $(document).ready(function(){
    var departInterval = setInterval(updateTime, 10);
    
    $(".startstop").click(function(){
      if (counting){
        counting = false;
        $(".startstop").text("Start");
        $(".lap").addClass("disabled");
        
        
      }else{
        counting = true;
        $(".startstop").text("Stop");
        $(".lap").removeClass("disabled");
        
        
      }
      return false;
    });
    $(".reset").click(function(){
      counting = false;
      $(".startstop").text("Start");
      $(".laps").text("");
      time = 0;
      $(".milli").text("0")
      $(".seconds").text("0")
      $(".minutes").text("0")
      $(".hours").text("0")
      $(".lap").addClass("disabled");
      
      return false;
    });
    $(".lap").click(function(){
      if ($(".lap").hasClass("disabled")) return false;
      $(".laps").prepend("<li>"+$(".timer").text()+"</li>");
    });
  });
  function updateTime(){
    if (!counting) return false;
    time += 10;
    $(".milli").text((time/10)%100+"");
    $(".seconds").text((parseInt(time/1000))%60+"");
    $(".minutes").text((parseInt(time/(1000*60)))%60+"");
    $(".hours").text((parseInt(time/(1000*60*60)))%60+"");
  }
  
  
  